<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商家中心</title>
    <script th:src="@{/js/vue.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <style>
        #app {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .el-header, .el-footer {
            background-color: #545c64;
            color: white;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
        }

        .el-aside {
            background-color: #545c64;
            color: #333;
            text-align: center;
            height: 86vh;
        }
        .el-loading-parent--relative {
            position: unset!important;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <el-menu
                    text-color="#fff"
                    active-text-color="white"
                    background-color="#545c64"
                    default-active="1"
                    mode="horizontal"
                    @select="handleSelect">
                <el-row>
                    <el-col :span="21">
                        <span index="1" style="font-size: x-large; line-height: 60px;">商家管理中心</span>
                    </el-col>
                    <el-col :span="3">
                        <el-submenu index="2">
                            <template slot="title">欢迎：{{username}}</template>
                            <el-menu-item index="2-1">个人信息</el-menu-item>
                            <el-menu-item index="2-2">帮助</el-menu-item>
                            <el-menu-item index="2-3">退出登录</el-menu-item>
                        </el-submenu>
                    </el-col>
                </el-row>
            </el-menu>
        </el-header>
        <el-container>
            <el-aside width="200px">
                <el-menu
                        default-active="1"
                        class="el-menu-vertical-demo"
                        @select="handleSelect"
                        background-color="#545c64"
                        text-color="#fff"
                        active-text-color="#ffd04b">
                    <el-menu-item index="1">
                        <i class="el-icon-menu"></i>
                        <span slot="title">商品管理</span>
                    </el-menu-item>
                    <el-menu-item index="2">
                        <i class="el-icon-document"></i>
                        <span slot="title">订单管理</span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-setting"></i>
                        <span slot="title">数据统计</span>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-main>
                <el-row>
                    <el-col :span="1">
                        <el-button icon="el-icon-plus" @click="handAddGood">添加商品</el-button>
                    </el-col>
                    <el-col :span="6" :push="17">
                        <div style="margin-bottom: 10px;">
                            <el-input placeholder="请输入内容" v-model="searchIn">
                                <el-button slot="append" icon="el-icon-search" @click="searchGood">搜索</el-button>
                            </el-input>
                        </div>
                    </el-col>
                </el-row>

                <template>
                    <el-table
                            :data="goodsData"
                            border
                            style="width: 100%">
                        <el-table-column
                                fixed
                                prop="gName"
                                label="商品名称"
                                width="300">
                        </el-table-column>
                        <el-table-column
                                prop="cName"
                                label="商品类别">
                        </el-table-column>
                        <el-table-column
                                prop="gImage"
                                label="商品图片">
                        </el-table-column>
                        <el-table-column
                                prop="gParameter"
                                label="商品参数">
                        </el-table-column>
                        <el-table-column
                                prop="gPrice"
                                label="商品价格">
                        </el-table-column>
                        <el-table-column
                                prop="gNumber"
                                label="商品销量">
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button
                                        size="mini"
                                        @click="handleEdit(scope.$index, scope.row)">编辑
                                </el-button>
                                <el-button
                                        size="mini"
                                        type="danger"
                                        @click="handleDelete(scope.$index, scope.row)">删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <!---->
                    <div class="block" style="margin-top: 10px;">
                        <el-pagination
                                prev-text="上一页"
                                next-text="下一页"
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-size="pageSize"
                                :page-sizes="[5, 10, 15, 20]"
                                layout=" prev, pager, next, sizes, total"
                                :total="total">
                        </el-pagination>
                    </div>
                </template>

            </el-main>
        </el-container>
        <el-footer>
            footer
        </el-footer>
    </el-container>
    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible" width="40%">
        <el-form :model="form">
            <el-form-item label="商品名称" :label-width="formLabelWidth">
                <el-input v-model="form.gName" autocomplete="off" style="width: 80%;"></el-input>
            </el-form-item>
            <el-form-item label="商品类别" :label-width="formLabelWidth">
                <el-select v-model="value" filterable placeholder="请选择" @change="change($event)">
                    <el-option
                            v-for="item in options"
                            :key="item.cId"
                            :label="item.cName"
                            :value="item.cId">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="商品图片" :label-width="formLabelWidth">
                <el-input v-model="form.gImage" autocomplete="off" style="width: 80%;"></el-input>
            </el-form-item>
            <el-form-item label="商品参数" :label-width="formLabelWidth">
                <el-input v-model="form.gParameter" autocomplete="off" style="width: 80%;"></el-input>
            </el-form-item>
            <el-form-item label="商品价格" :label-width="formLabelWidth">
                <el-input v-model="form.gPrice" autocomplete="off" style="width: 80%;"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogOk">确 定</el-button>
        </div>
    </el-dialog>

</div>

</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            username: "admin",
            goodsData: "",
            form: {
                "gCatId": "",
                "gId": "",
                "gImage": "",
                "gName": "",
                "gNumber": "",
                "gParameter": "",
                "gPrice": "",
                "gStoreId": "",
                "cName": "",
            },
            addForm: {
                "gCatId": 1,
                "gId": "",
                "gImage": "",
                "gName": "",
                "gNumber": 0,
                "gParameter": "",
                "gPrice": "",
                "gStoreId": 123,
                "cName": "",
            },
            value: "",
            options: [{}],
            dialogFormVisible: false,
            formLabelWidth: '120px',
            currentPage: 1,          //当前页数
            pageSize: 10,            //每页显示条目数
            total: 0,               //分页总条数
            searchIn: "",
            dialogTitle: "",
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            handleEdit(index, row) {
                this.form = JSON.parse(JSON.stringify(row));
                this.dialogTitle = "修改信息";
                this.dialogFormVisible = true;
                this.getCategoryData();
                this.value = this.form.cName;
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.pageSize = val;
                this.getGoodsData();
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.currentPage = val;
                this.getGoodsData();
            },
            searchGood() {
                var _this = this;
                $.ajax({
                    type: "POST",
                    url: "/searchGoods",
                    dataType: "json",
                    data: {
                        "searchIn": this.searchIn,
                    },
                    success: function (data) {
                        console.log(data);
                        _this.goodsData = data;
                        _this.total = Object.keys(data).length;
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            },
            change(val){
                this.form.cId = val;
            },
            handleDelete(index, row) {
                this.$confirm('此操作将永久删除物品:' + row.gName + ', 是否继续?', '删除提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    var _this = this;
                    var gId = row.gId;
                    this.loadingStart(1);
                    $.ajax({
                        type: "POST",
                        url: "/deleteGoodsData",
                        //dataType: "json",
                        data: {"gId": gId},
                        success: function (data) {
                            _this.loadingStart(2);
                            console.log(data);
                            if (data != 0) {
                                _this.updateGoodsData();
                                _this.$message({
                                    type: 'success',
                                    message: '删除成功!'
                                });
                            } else {
                                _this.$message({
                                    showClose: true,
                                    message: '错了哦，这是一条错误消息',
                                    type: 'error'
                                });
                            }

                        },
                        error: function (err) {
                            console.log(err);
                            _this.loadingStart(2);
                        }

                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            getGoodsData() {
                var _this = this;
                var dataPage = _this.currentPage;
                var dataSize = _this.pageSize;
                console.log(dataPage);
                $.ajax({
                    type: "POST",
                    url: "/getGoodsData",
                    dataType: "json",
                    data: {
                        "dataPage": dataPage,
                        "pageSize": dataSize,
                    },
                    success: function (data) {
                        console.log(data);
                        _this.goodsData = data;
                    },
                    error: function (data, type, error) {
                        console.log(data);
                    }
                });
            },
            getGoodsDataSize() {
                var _this = this
                $.ajax({
                    type: "POST",
                    url: "/getGoodsDataSize",
                    success: function (data) {
                        _this.total = data;
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            },
            dialogOk() {
                if (this.dialogTitle === "修改信息") {
                    this.updateGoodData();
                }
                if (this.dialogTitle === "新增信息") {
                    this.addGoodData();
                }
            },
            loadingStart(isShow) {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(255, 255, 255, 0.7)'
                });
                if (isShow === 2) {
                    loading.close();
                }
            },
            updateGoodData() {
                this.$confirm('此操作将修改物品信息, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.loadingStart(1);
                    var _this = this;
                    $.ajax({
                        type: "POST",
                        url: "/updateGoodsData",
                        //dataType: "json",
                        data: {
                            "goods" : JSON.stringify(this.form)
                        },
                        success: function (data) {
                            _this.loadingStart(2);
                            console.log(data);
                            if (data !== 0) {
                                _this.updateGoodsData();
                                _this.$message({
                                    type: 'success',
                                    message: '修改成功!'
                                });
                            } else {
                                _this.$message({
                                    showClose: true,
                                    message: '修改失败，请重试！',
                                    type: 'error'
                                });
                            }
                            _this.dialogFormVisible = false;
                        },
                        error: function (err) {
                            console.log(err);
                            _this.dialogFormVisible = false;
                            _this.loadingStart(2);
                        }
                    })
                }).catch(() => {

                });
            },
            handAddGood() {
                this.form = this.addForm;
                this.dialogTitle = "新增信息";
                this.dialogFormVisible = true;
                this.getCategoryData();
            },
            addGoodData() {
                this.$confirm('此操作将添加新物品信息, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.loadingStart(1);
                    var _this = this;
                    console.log(this.form);
                    $.ajax({
                        type: "POST",
                        url: "/addGoodsData",
                        data: {
                            "goods": JSON.stringify(_this.form),
                        },
                        success: function (data) {
                            _this.loadingStart(2);
                            console.log(data);
                            if (data !== 0) {
                                _this.updateGoodsData();
                                _this.$message({
                                    type: 'success',
                                    message: '添加成功!'
                                });
                            } else {
                                _this.$message({
                                    showClose: true,
                                    message: '添加失败，请重试！',
                                    type: 'error'
                                });
                            }
                            _this.dialogFormVisible = false;
                        },
                        error: function (err) {
                            console.log(err);
                            _this.dialogFormVisible = false;
                            _this.loadingStart(2);
                        }
                    })
                }).catch(() => {

                });
            },
            updateGoodsData() {
                this.getGoodsDataSize();
                this.getGoodsData();
            },
            getCategoryData() {
                var _this = this;
                $.ajax({
                    type: "POST",
                    url: "/getCategoryData",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        _this.options = data;
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            },
        },
        mounted() {
            this.updateGoodsData();
        }
    })


</script>
</html>